@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: "Milky";
    src: url("assets/fonts/MilkyNice.otf");
}

@font-face {
    font-family: "Snacker";
    src: url("assets/fonts/snacker.ttf");
}