$yellow: #ffd166;

@font-face {
    font-family: "Snacker";
    src: url("../../../assets/fonts/snacker.ttf");
}

button {
    background-color: $yellow;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    font-family: "Snacker";
    font-size: 1.3vw;
}